.artist {
    width        : calc(100vw - 200px) !important;
    margin-right : 0px !important;
    margin-top   : 90px;
    margin-bottom: 120px;
    min-height   : 100vh;
}

.welcome-message {
    margin-bottom: 48px !important;
}